$text-highlight: red;

.root {
  flex-grow: 1;
}

.paper {
  padding: 8px;
  text-align: "center";
  $transition-duration: 0.5s;
  $transition-start: 0.0s;
  transform: translate(0px, 0px);
  -webkit-transition: $transition-duration $transition-start;
  -moz-transition: $transition-duration $transition-start;
  -o-transition: $transition-duration $transition-start;
  transition: $transition-duration $transition-start;
}

.paper:hover {
  @extend .paper;
  color: $text-highlight;
}
