@import "./colors.scss";

.social-icon {
  margin: 8px;
  color: $foreground00;
}

.navBar-wrapper {
  margin: 24px;
  text-align: left;
  display: grid;
  align-items: start;
  justify-items: start;
  grid-template-columns: 40% 60%;
  grid-template-areas: "title header";
}

.navBar-col {
  justify-self: start;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
}

.navBar-right {
  justify-self: end;
}

.navBar-center {
  justify-self: center;
}

.navBar-span {
  color: $foreground00;
  margin-left: 8px;
  margin-right: 8px;
}
