@import "./colors.scss";

h1 {
    color: $foreground00;
    max-height: 200px;
    font-size: 1.5em;
    font-weight: normal;
    width: 100%;
    border: 2px solid blue;
    margin: auto;
    padding: 0px;
}

.tracking-number__input {
    color: $foreground00;
    height: 10%;
    width: 10%;
}